<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Saqib Ali Shah**

Student

I am interested because I would like to contribute in health care for public health facility.

### The Code giving bellow will print HELLO! MY NAME IS SAQIB

In [1]:
print("HELLO! MY NAME IS SAQIB")

HELLO! MY NAME IS SAQIB

<hr>
<ul>
    <li> bullet point 1</li>
    <li> bullet point 2</li>
</ul>
<ol>
    <li> number list 1</li>
    <li> number list 2</li>
</ol>
<table>
    <thead>
        <tr>
            <th>head 1</th>
            <th>head 2</th>
            <th>head 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>row 1</td>
            <td>row 2</td>
            <td>row 3</td>
        </tr>
    </tbody>
</table>
<a href="https://www.google.com">Google</a>
<img src="https://images.unsplash.com/photo-1676376327236-cd743ef57c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"/>
<blockquote>Block Quote</blockquote>
<s>strick through</s>